
body{
    background: #fff;
    height: auto;
     max-width: 100%;
  overflow-x: hidden;
  }
 
  .about{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;

  }
  .box{
    background: white;
    width: 100%;
    height: auto;
    border-radius: 10px;

  }





  input[type=text], select {
    background: #e6e6e6;
    border: 0px solid #161616;
    border-radius: 60px;
    width: 100%;
  }
  input[type=text]::placeholder{
    color: #666666;
  }
  .imgform{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: auto;
  }
  .imgform img {
    width: 50%;
    height: 50%;
  }
  .contact1-pic {
      width: 296px;
  }

  .contact1-pic img {
      max-width: 100%;
  }
  .txt{
    margin-top: 50px;
    margin-bottom: 50px; 
    
  }
  .git{
    margin-bottom: 21px;
  }
  .git h2{
    font-size: 10px;
  }
  
  
  .wrap-input1 {
      position: relative;
     width: 73%;
     z-index: 1;
      margin-bottom: 20px;
  }
  .input1 {
      border: 0px;
      display: block;
      width: 100%;
      height: auto;
      background: #e6e6e6;
      
      font-size: 15px;
      line-height: 1.5;
      color: #666666;
  }

  .validate-input{
    position: relative;
  }
  input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
  }
  input.input1 + .shadow-input1 {
    border-radius: 25px;
  }

  textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
  }
  textarea.input1 + .shadow-input1 {
    border-radius: 25px;
  }
  .container-contact1-form-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      margin-left: 145px;
  }

    .contact1-form-btn {
      border: 0px;  
      width: 100px;
      height: 50px;
      border-radius: 25px;
      background: #57b846;
      font-size: 15px;
      line-height: 1.5;
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;

      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  }

    .contact1-form-btn i {
      margin-left: 7px;

      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }

    .contact1-form-btn:hover {
      background: #333333;
    }

    .contact1-form-btn:hover i {
      -webkit-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px);
      transform: translateX(10px);
    }
    .contact1-form-btn span{
      padding-top: 14px;
    }
    
    #popup2:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
    }
    @media (min-device-width: 400px){
      .footer{
        height: auto;
        background: #181818;
        /* padding: 130px 100px; */
      }
    }
    @media (min-device-width: 1000px){
      .footer{
        height: 500px;
        background: #181818;
        /* padding: 130px 100px; */
      }
    }
    
    
    .footer h1{
      color: #fff;
      font-weight: 200;
    }
    .footer h3{
      font-family: 'Merriweather', serif;
      font-weight: 700;
      color: white;
      font-size: 26px;
      letter-spacing: 0.5;
      margin: 0;
    }
    .footer p{
      color: #fff;
      padding-top: 5px;
      font-size: 15px;
      font-family: 'Merriweather', serif;
    }
    .footer hr{
      width: 1200px;
      border-color: grey;
    }
    .footer li{
      list-style-type: none;
      padding: 10px 0px;
    }
    .footer li a{
      color: #ffa600;
    }
    .footer li a:hover{
      color: #fff;
    }
    .footer input[type=text]{
      margin-top: 5px;
      padding-left: 5px;
      width: 60%;
      color: white;
      font-weight: 100;
      height: 50px;
      border-radius: 0;
      background: #181818;
      border-bottom: 1px solid;
      border-color: #ffa600;
    }
    .footer input[type=submit]{
      margin-left: 10px;
      color: white;
      background: #ffa600;
      width: 30%;
      height: 50px; 
      border: 0px;
    }
    .footer input[type=submit]:hover{
      background: transparent;
      border: 1px solid;
      transition: 0.5s;
    }
    .footer input[type=text]::placeholder{
			color: #fff;
    }
    .snowflake {
      color: #fff;
      font-size: 1em;
      text-shadow: 0 0 1px #000;
    }
    
    @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
    /* Demo Purpose Only*/
    .demo {
      font-family: 'Raleway', sans-serif;
      color:#fff;
        display: block;
        margin: 0 auto;
        padding: 15px 0;
        text-align: center;
    }
    .demo a{
      font-family: 'Raleway', sans-serif;
    color: #000;		
    }